@import url('css2.css');

body {
    font-family: 'DynaPuff', cursive;
    background: crimson
}

span {
    font-size: 7rem;
    letter-spacing: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 7px 7px orange, 18px 18px black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white
}